<%- include("partials/head.ejs") %>


<body>
    <%- include("partials/headerAlternativo.ejs") %>

    <main class="content">
    
        <!--Principal-->
    <div class="wrapper">
        <!--Itens-->
        <!--vai ter um for each e pra cada "block" um titulo, foto, descrição-->
      

        <% articles.forEach(article => { %>

                    <div class="block">

                            <div class="block-img">
                                <img src="/assets/img-test/copos-coloridos.jpg" alt="HTML5">
                            </div>
                            <div class="block-desc">
                                <h3><%= article.title %></h3>
                                <p><%= article.description_home  %></p>
                            </div>
                            <div class="block-link">
                                <a href="/article/<%= article.slug %>">Ver mais</a>
                            </div>
                        
                    </div>
                    
                     <div class="pagination">
                        <a href="/articles/page/<%= count_articles %>" class="next">Next</a>
                    </div>

        <% }) %>

        <button class="load-more">Carregar mais</button>
        <div class="no-more">Sem mais artigos :(</div>
           
        <!--Termina Itens-->
    </div>
       
    </main>
    
    <%- include("partials/__scriptInfinitScroll_limited") %>

    <%- include("partials/footer.ejs") %>

</body>

