<%- include("partials/head.ejs") %>


<body>
    <%- include("partials/header.ejs") %>

    <main class="content">

        <div class="dashboard__content__main">
            
            <div class="admin__options">
                <%- include("partials/navbarAdmin") %>
                
                <div class="admin__content">
                
                    <!-- form handling -->
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Foto</th>
                                    <th>Titulo</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <% articles.forEach(article => { %>
                            <tbody>
                                <tr>
                                    <td><%= article.id %></td> 
                                    <td>
                                        <div class="article__thumb__content">
                                            <img src="<%= article.exp_image_home %>" alt="">
                                        </div>
                                    </td>
                                    <td><%= article.title %></td> 
                                    <td>
                                        <a href="/admin/dashboard/articles/edit/<%= article.id %>"><img class="img-users" src="/assets/pencil-striped.svg" alt=""></a>
                                        <form action="/admin/dashboard/articles/soft/<%= article.id %>" method="post">
                                            <input type="image" src="/assets/lixeira.svg" class="img-users">
                                        </form>
                                    </td>
        
                                    <div class="pagination">
                                        <a href="/admin/dashboard/articles/<%= count_articles %>" class="next">Next</a>
                                    </div>
                                    
                                </tr>
                            </tbody>
                            <% }) %>
                        
                        </table>
                            <button class="load-more">Carregar mais</button>
                            <div class="no-more">Sem mais artigos :(</div>
        
        
                </div>
                
            </div>

        </div>
        
    </main>
    
    <script src="https://unpkg.com/@webcreate/infinite-ajax-scroll/dist/infinite-ajax-scroll.min.js"></script>
    <script src="/js/infinitescrollAdmin.js" ></script>
    <%- include("partials/footer.ejs") %>

</body>

