<%- include("partials/head.ejs") %>


<body>
    <%- include("partials/header.ejs") %>

    <main class="content">

        <%- include("partials/navbarSubAdmin") %>

        <div class="admin__content">

            <div class="article__section__header">
                <h1 class="title__header">Criar novo artigo</h1>
            </div>

            <form action="/subadmin/dashboard/new/article" method="POST">
                <fieldset>

                    <legend>Tela inicial</legend>
                    <div class="article__item">
                        <label for=""> Titulo do experimento</label>
                        <input type="text" name="title" placeholder="Ex: Fogo na mão" required>     
                    </div>
                   
                    <div class="article__item">
                        <label for="">Link da foto que representa o experimento</label>
                        <input type="text" name="exp_image_home" placeholder="Ex: https://lh3.googleusercontent.com/Hv">
                    </div>
                   
                    <div class="article__item">
                        <label for="">Descrição resumida do experimento</label>
                        <textarea name="description_home" id="" placeholder="Experiência envolvendo fogo na mão usando maiseza" required></textarea>    
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Corpo do experimento</legend>
                    <div class="article__item">
                        <label for="">Materiais utilizados</label>
                        <textarea name="materials" id="" placeholder="Primeiro é preciso encher o balde com água com bom ar, depois misturar muito bem..." required>2 - Palitos
5 - Papeis
....
                        </textarea>

                    </div>

                    <div class="article__item">

                        <h3>Instruções</h3>
                        <ol>
                            <li><p>Caso não queira usar todos os 5 passos, basta deixar em branco!</p></li>
                            <li><p>Texto corrido em paragrafo unico</p></li>
                            <li><p>Cada passo deve ter o limite de 1000 caracteres</p></li>
                        </ol>
                        <label for="step1_text">Passo 1</label>
                        <textarea name="step1_text" id="" placeholder="Primeiro é preciso juntar todos os materiais em um balde e misturar bem" required></textarea>
                        <label for="step1_img">Link da foto que representa passo 1</label>
                        <input type="text" name="step1_img" id="" placeholder="Ex: https://lh3.googleusercontent.com/Hv">
                    
                    </div>

                    <div class="article__item">

                        <label for="step2_text">Passo 2</label>
                        <textarea name="step2_text" id="" required>vazio</textarea>
                        <label for="step2_img">Link da foto que representa passo 2</label>
                        <input type="text" name="step2_img" id="" required value="vazio">
                    
                    </div>

                    <div class="article__item">

                        <label for="step3_text">Passo 3</label>
                        <textarea name="step3_text" id="" required>vazio</textarea>
                        <label for="step3_img">Link da foto que representa passo 3</label>
                        <input type="text" name="step3_img" id="" required value="vazio">
                    
                    </div>

                    <div class="article__item">

                        <label for="step4_text">Passo 4</label>
                        <textarea name="step4_text" id="" required>vazio</textarea>
                        <label for="step4_img">Link da foto que representa passo 4</label>
                        <input type="text" name="step4_img" id=""required value="vazio">
                    
                    </div>

                    <div class="article__item">

                        <label for="step5_text">Passo 5</label>
                        <textarea name="step5_text" id=""  required>vazio</textarea>
                        <label for="step5_img">Link da foto que representa passo 5</label>
                        <input type="text" name="step5_img" id="" required value="vazio">
                    
                    </div>

                    <div class="article__item">
                        <label for="">Explicação</label>
                        <textarea name="explanation" id="" placeholder="Primeiro é preciso encher o balde com água com bom ar, depois misturar muito bem..." required>Isso ocorre devido...</textarea>
                    </div>

                    <div class="article__item">
                        <label for="">Link do video do experimento</label>
                        <input type="text" name="exp_video" required value="vazio">
                    </div>

                </fieldset>

                    <fieldset>
                        <legend>Categorias</legend>
                        <label for="category1">Assunto</label>
                        <select name="category1" required>
                            <option value="" disabled selected>Escolha uma opção</option>
                            <% categories1.forEach((category1) => {  %>
                                <option value="<%= category1.id %>"><%= category1.title %></option>
                            <% }) %>
                        </select>

                        <label for="category2">BNCC</label>
                        <select name="category2" required>
                            <option value="" disabled selected>Escolha uma opção</option>
                            <% categories2.forEach((category2) => {  %>
                                <option value="<%= category2.id %>"><%= category2.title %></option>
                            <% }) %>
                        </select>
                    </fieldset>

                <fieldset>
                    <legend>Orientações para professores</legend>
                    <div class="article__item">
                        <label for="">Orientações importantes</label>
                        <textarea name="tips_important" id="" placeholder="Um ponto negativo deste experimento é que se deve ter cuidado na hora de colocar fogo na mão" required></textarea>
                    </div>

                    <div class="article__item">
                        <label for="">Dicas para o EaD</label>
                        <textarea name="tips_ead" id="" placeholder="No EaD, é preciso muita atenção a orientação para o aluno não cometer erros..." required></textarea>
                    </div>

                    <input type="submit" value="Enviar experimento">

                </fieldset>
            </form>
           
           

            
                


        </div>
        
    </main>
    

    <%- include("partials/footer.ejs") %>

</body>

