<%- include("partials/head.ejs") %>


<body>
    <%- include("partials/header.ejs") %>

    <main class="content">


        <%- include("partials/navbarSubAdmin") %>

        <div class="admin__content">
                
            <!-- form handling -->
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Titulo</th>
                            <th>Descrição</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <% articles.forEach(article => { %>
                    <tbody>
                        <tr>
                            <td><%= article.id %></td> 
                            <td><%= article.title %></td> 
                            <td><%= article.description_home %></td>
                            <td>
                                <a href="/subadmin/dashboard/articles/edit/<%= article.id %>"><img class="img-users" src="/assets/pencil-striped.svg" alt=""></a>
                                <form action="/subadmin/dashboard/articles/soft/<%= article.id %>" method="post">
                                    <input type="image" src="/assets/lixeira.svg" class="img-users">
                                </form>
                            </td>


                            
                        </tr>
                    </tbody>
                    <% }) %>

                </table>

        </div>
        
    </main>
    

    <%- include("partials/footer.ejs") %>

</body>

