<%- include("partials/head.ejs") %>


<body>
    <%- include("partials/header.ejs") %>

    <main class="content">


        <div class="users__content">

            <div class="users__section__header">
                <img src="<%= exp_image_home %>" alt="">
                <h1 class="title__header"><%= title %></h1>
                <p><%= description_home %></p>
                
            </div>

            <h2></h2>
                          
            </div>

        </div>
        
    </main>
    

    <%- include("partials/footer.ejs") %>

</body>

