<%- include("partials/head.ejs") %>


<body>
    <%- include("partials/headerAlternativo.ejs") %>

    <main class="content">


        <div class="article__content__main">

            <div class="article__section__header">

                <div class="article__section__header__left">
                    <h3 class="article__user__id">Por:</h3>
                    <div class="article__round__container">
                        <%if(us_img === null){%>
                            <img src="/assets/male-user-shadow-svgrepo-com.svg" alt="">
                        <%}else{%>
                            <img src="<%= us_img %>">
                        <%}%>
                    </div>   
                    <a class="article__user__id" href="/profile/<%= us_id %>"><%= us_name %></a>
                    <h3 class="article__user__id">Em:</h3>
                    <p class="article__user__id"><%= created_at %></p>
                </div>
                
                
                <div class="article__section__header__right">
                    <h3 class="article__user__id">Atualizado em: </h3>
                    <p class="article__user__id" ><%= updated_at %></p>
                </div>
                
            </div>

            <div class="article__section__body">
                
                <div class="section__body__header">
            
                        <div class="section__body__intro">
                            <h1 class="article__title"><%= title %></h3>
                            <p class="article__desciption"><%= description_home %></p>
                        </div>

                </div>
                

                <div class="section__body__content">

                    <div class="body__content__item">
                        <h2 class="article__title__body">Materiais utilizados</h2>
                        <p><%- materials %></p>
                    </div>

                    <div class="body__content__item">
                        <h2 class="article__title__body">Instruções</h2>

                        <div class="content__item__block">
                            <h3>Passo 1</h3>
                            <p><%- step1_text %></p>
                            <div class="article__img__content">
                                <img src="<%- step1_img %>" loading="lazy" alt="">
                            </div>
                        </div>       
                        
                        <%if(step2_text !== "vazio" ){%>
                            <div class="content__item__block">
                                <h3>Passo 2</h3>
                                <p><%- step2_text %></p>
                                <%if(step2_img !== "vazio" ){%>
                                    <div class="article__img__content">
                                        <img src="<%- step2_img %>" loading="lazy" alt="">
                                    </div>
                                <%}%>

                            </div>
                        <%}%>


                        <%if(step3_text !== "vazio" ){%>
                            <div class="content__item__block">
                                <h3>Passo 3</h3>
                                <p><%- step3_text %></p>
                                <%if(step3_img !== "vazio" ){%>
                                    <div class="article__img__content">
                                        <img src="<%- step3_img %>" loading="lazy" alt="">
                                    </div>
                                <%}%>
                            </div>
                        <%}%>
                        

                        <%if(step4_text !== "vazio" ){%>
                            <div class="content__item__block">
                                <h3>Passo 4</h3>
                                <p><%- step4_text %></p>
                                <%if(step4_img !== "vazio" ){%>
                                    <div class="article__img__content">
                                        <img src="<%- step4_img %>" loading="lazy" alt="">
                                    </div>
                                <%}%>
                            </div>
                        <%}%>

                        <%if(step5_text !== "vazio" ){%>
                            <div class="content__item__block">
                                <h3>Passo 5</h3>
                                <p><%- step5_text %></p>
                                <%if(step5_img !== "vazio" ){%>
                                    <div class="article__img__content">
                                        <img src="<%- step5_img %>" loading="lazy" alt="">
                                    </div>
                                <%}%>
                            </div>
                        <%}%>

                    </div>


                    <div class="body__content__item">
                        <h2 class="article__title__body">Explicação</h2>
                        <p><%- explanation %></p>    
                    </div>

                    <%if(exp_video !== "vazio" ){%>
                        <div class="body__content__item">

                            <h2 class="article__title__body diff">Video de demonstração</h2>
                            <div class="article__video__content">
                                <iframe class="article__video" src="<%- exp_video %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    <%}%>
                    
            <div class="body__content__item">

                        <h2 class="article__title__body">Categorias desta experiência</h2>
                        <p>Assunto: <span><%= cat_title %></span></p>
                        <p>BNCC: <span><%= cat2_title %></span></p>
                    
                    </div>

                    
                    <div class="body__content__item">

                        <h2 class="article__title__body">Para professores</h2>
                        <button type="button" class="collapsible">Orientações importantes</button>
                        <div class="button__content">
                            <p><%= tips_important %></p>
                        </div>

                        <button type="button" class="collapsible">Dicas para o EaD</button>
                        <div class="button__content">
                            <p><%= tips_ead %></p>
                        </div>
                    </div>


                    <div class="body__content__item">

                        
                    </div>
                
            </div>

        </div>
        
    </main>
    <script src="/js/script.js"></script>
    

    <%- include("partials/footer.ejs") %>

</body>

