<%- include("partials/head.ejs") %>


<body>
    <%- include("partials/header.ejs") %>

    <main class="content">


        <%- include("partials/navbarAdmin") %>

        <div class="admin__content">
                
            <!-- form handling -->
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Slug</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <% categories.forEach(category => { %>
                    <tbody>
                        <tr>
                            <td><%= category.id %></td> 
                            <td><%= category.title %></td>
                            <td><%= category.slug %></td>
                            <td>
                                <a href="/admin/dashboard/categories3/edit/<%= category.id %>"><img class="img-users" src="/assets/pencil-striped.svg" alt=""></a>
                                <form action="/admin/dashboard/categories3/del/<%= category.id %>" method="post">
                                    <input type="image" src="/assets/lixeira.svg" class="img-users">
                                </form>
                            </td>


                            
                        </tr>
                    </tbody>
                    <% }) %>

                </table>

        </div>
        
    </main>
    

    <%- include("partials/footer.ejs") %>

</body>

