<%- include("partials/head.ejs") %>

<body>
    <%- include("partials/header.ejs") %>

    <div class="container">
        <h1>DASHBOARD</h1>

        <div class="admin__infos">
            <div class="infos__left">
                <figure>
                    <div class="round-container">
                        <img src="<%= photo %>">
                    </div>    
                </figure>
            </div>
            <div class="info__right">
                <p>Bem vindo(a): <%= name %></p>
                <p>Email: <%= email %></p>
            </div>
        </div>
       

       
    </div>
    

<!-- <%- include("partials/footer.ejs") %> -->   

</body>
