<%- include("partials/head.ejs") %>

<body>
    <%- include("partials/header.ejs") %>
    <main class="content">

        <div class="dashboard__content__main">
            
            <div class="admin__options">
                <%- include("partials/navbarSubAdmin") %>
                
                <div class="admin__content">

                    <div class="admin__infos">
                        <div class="infos__left">
                            <%if(photo === null){%>
                                <figure>
                                    <div class="round-container">
                                        <img src="/assets/male-user-shadow-svgrepo-com.svg">
                                    </div>    
                                </figure>
                            <%}else{%>
                                <figure>
                                    <div class="round-container">
                                        <img src="<%= photo %>">
                                    </div>    
                                </figure>
                            <%}%>
                            
                        
                        </div>
                        <div class="info__right">
                            <p>Bem vindo(a): <%= name %></p>
                        </div>
                    </div>
                    
                    <h2>Para criar artigo siga os passos</h2>
                </div>
            </div>

        
        </div>

    </main>
    

<!-- <%- include("partials/footer.ejs") %> -->   

</body>
