<%- include("partials/head.ejs") %>

<body>
    <%- include("partials/header.ejs") %>

    <div class="container">
            
        <div class="admin__infos">
            <div class="infos__left">
                <figure>
                    <div class="round-container">
                        <img src="<%= photo %>">
                    </div>    
                </figure>
            </div>
            <div class="info__right">
                <p>Bem vindo(a): <%= name %></p>
            </div>
        </div>
            
        <%- include("partials/navbarAdmin") %>
            
        <div class="admin__content">
            <h2>teste</h2>
        </div>

           
            
            <script>
            
            
            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
            </script>
       

       
    </div>
    

<!-- <%- include("partials/footer.ejs") %> -->   

</body>
