<%- include("partials/head.ejs") %>


<body>
    <%- include("partials/headerAlternativo.ejs") %>

    <main class="content">

        <div class="content__home__section">

            <div class="content__home__header">
                <h1>Bem vindo(a)! Aqui você encontra as principais experiências de ciências ;)</h1>
                <p>Você pode selecionar as experiências com base na categoria no menu acima, pesquisando ou pode visualizar as ultimas experiências adicionadas logo abaixo </p>
            </div>
    
            <div class="content__home__body">
                <h2>Ultimas experiências adicionadas:</h1>
                
                <%- include("partials/__blockListArticle") %>
                
            </div>

            <div class="content__home__footer">
                <h2>Quer entrar em contato?</h2>
                <p>Basta enviar sua mensagem pelo <a href="">link</a></p>
            </div>
        
        </div>
   
    </main>

    <%- include("partials/__scriptInfinitScroll_limited") %>
    
    <%- include("partials/footer.ejs") %>

</body>

