<%- include("partials/head.ejs") %>


<body>
    <%- include("partials/header.ejs") %>

    <main class="content">
          
        <%- include("partials/navbarAdmin") %>

            <div class="admin__content">
                
                <!-- form handling -->
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Foto</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>cargo</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <% users.forEach(user => { %>
                        <tbody>
                            <tr>
                                <td><%= user.id %></td> 
                                <td><img class="img-users" src="/assets/male-user-shadow-svgrepo-com.svg" alt=""></td>
                                <td><%= user.name %></td>
                                <td><%= user.email %></td>
                                <td><%= user.provider %></td>
                                <td>
                                    <a href="/admin/dashboard/users/edit/<%= user.id %>"><img class="img-users" src="/assets/pencil-striped.svg" alt=""></a>
                                    <form action="/admin/dashboard/users/soft/<%= user.id %>" method="post">
                                        <input type="image" src="/assets/lixeira.svg" class="img-users">
                                    </form>
                                </td>
    

                                
                            </tr>
                        </tbody>
                        <% }) %>

                    </table>

            </div>



    </main>
    

    <%- include("partials/footer.ejs") %>

</body>

