<%- include("partials/head.ejs") %>


<body>
    <%- include("partials/header.ejs") %>

    <main class="content">
          
        <%- include("partials/navbarAdmin") %>

            <div class="admin__content">
                <!-- form handling -->
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Foto</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>cargo</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <% users.forEach(user => { %>
                        <tbody>
                            <tr>
                                <td><%= user.id %></td>
                                <td>exemplo</td>
                                <td><%= user.name %></td>
                                <td><%= user.email %></td>
                                <td><%= user.provider %></td>
                                <td>
                                    <form action="/admin/dashboard/users/hard/<%= user.id %>" method="POST">
                                        <input type="image" src="/assets/lixeira.svg" class="img-users">
                                    </form>
                                   
                                    <form action="/admin/dashboard/users/back/<%= user.id %>" method="POST">
                                        <input type="image" src="/assets/signin_106368.svg" class="img-users">
                                    </form>
                                </td>
    
    
                                
                            </tr>
                        </tbody>
                        <% }) %>

                       

                    </table>

            </div>



    </main>
    

    <%- include("partials/footer.ejs") %>

</body>

