<%- include("partials/head.ejs") %>


<body>
    <%- include("partials/header.ejs") %>

    <main class="content">
          
        <%- include("partials/navbarAdmin") %>

            <div class="admin__content">
                <!-- form handling -->
                <form action="/" method="POST">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Foto</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>cargo</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <% users.forEach(user => { %>
                        <tbody>
                            <tr>
                                <td><%= user.id %></td>
                                <td>exemplo</td>
                                <td><%= user.name %></td>
                                <td><%= user.email %></td>
                                <td><%= user.provider %></td>
                                <td>
                                    <a href="/" class="btn border-shadow update">
                                        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                    </a>
                                    <a class="btn border-shadow delete" >
                                        <span class="text-gradient"><i class="fas fa-times"></i></span>
                                    </a>
                                </td>
    
    
                                
                            </tr>
                        </tbody>
                        <% }) %>

                    </table>
                </form>

            </div>



    </main>
    

    <%- include("partials/footer.ejs") %>

</body>

