<%- include("partials/head.ejs") %>


<body>
    <%- include("partials/headerDashAdmin.ejs") %>

    <main class="content">

        <div class="dashboard__content__main">

            <div class="admin__options">
                
                <%- include("partials/navbarAdmin") %>

                <div class="admin__content">
                        <!-- form handling -->
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Foto</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>cargo</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <% users.forEach(user => { %>
                                <tbody>
                                    <tr>
                                        <td><%= user.id %></td>
                                        <td>
                                            <%if(user.img_file === null){%>

                                                <div class="user__thumb__content">
                                                    <img src="/assets/male-user-shadow-svgrepo-com.svg" alt="">                                                    
                                                </div>
                                            
                                            <%}else{%>

                                                <div class="user__thumb__content">
                                                    <img src="<%= user.img_file %>">                                                    
                                                </div>
                                                
                                            <%}%>
                                        </td>
                                        <td><%= user.name %></td>
                                        <td><%= user.email %></td>
                                        
                                        <% if (user.provider === 0) { %>
                                            <td>Usuário</td>
                                        <% } %>
            
                                        <% if (user.provider === 1) { %>
                                            <td>Subadministrador</td>
                                        <% } %>
            
                                        <% if (user.provider === 2) { %>
                                            <td>Administrador</td>
                                        <% } %>
                                       
                                        <td>
                                            <form action="/admin/dashboard/users/hard/<%= user.id %>" method="POST">
                                                <input type="image" src="/assets/lixeira.svg" class="img-users">
                                            </form>
                                           
                                            <form action="/admin/dashboard/users/back/<%= user.id %>" method="POST">
                                                <input type="image" src="/assets/signin_106368.svg" class="img-users">
                                            </form>
                                        </td>
            
                                        <div class="pagination">
                                            <a href="/admin/dashboard/users/deleted/<%= count_articles %>" class="next">Next</a>
                                        </div>
                                        
                                    </tr>
                                </tbody>
                                <% }) %>
        
                            </table>
                            <button class="load-more">Carregar mais</button>
                            <div class="no-more">Sem mais usuários :(</div>
        
                </div>

            </div>

        </div>

    </main>
    
    <script src="https://unpkg.com/@webcreate/infinite-ajax-scroll/dist/infinite-ajax-scroll.min.js"></script>
    <script src="/js/infinitescrollAdmin.js" ></script>
    <%- include("partials/footer.ejs") %>

</body>

